.navbar-header {
	font-weight: bold;
}

#currentUserType {
	width: 160px;
}

body {
	padding-top: 70px;
}

#checkbox-admin {
	margin-left: 10px;
}

#link-admin {
	display: none;
}

main {
	min-height: 77vh;
}

/* border image: http://www.freebordersandclipart.com/images/CornerInlayBorderBlue.png */
footer {
	width: 100%;
	border-top: 10px solid transparent;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	padding: 15px;
	border-image: url(http://www.freebordersandclipart.com/images/CornerInlayBorderBlue.png) 3% stretch;
}