body {
	background-color: #f7f7f7;
}

.btn, .nav-pills > li.active > a, .nav-pills > li.active > a:hover{
	background-color: #732C7B;
	color: white;
}

.panel-footer{
	background-color: #1A0033;
	color: white;
}

.navbar {
	background-color: #1A0033;
}

.navbar-inverse .navbar-nav>li>a {
 	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, .btn:hover {
 	background-color: #39004d;
 	color:  #BDAEC6;
}

.nav-pills>li {
	padding-left:19px;
  	padding-right:19px;
}

.bg-1 { 
    background-color: white;
    color: black;
    padding-top: 70px;
    padding-bottom: 70px;
}

.social:hover {
	opacity: 0.4;
}

.panel-footer {
	height: 100%;
}

.badge-success {
  background-color: #468847;
}

#user {
	display: none;
}

#about {
	color: white;
	font-style: italic;
}

#about:hover {
	color: #732C7B;
}

#search-bar {
	display: none;
}