.btn, .nav-pills > li.active > a, .nav-pills > li.active > a:hover{
	background-color: #732C7B;
	color: white;
}

.navbar-default, .panel-footer {
	color: white;
	background-color: #222;
}

.panel-footer {
	height: 100%;
}

.btn:hover {
 	background-color: #39004d;
 	color:  #BDAEC6;
}

.nav-pills>li {
	padding-left:19px;
  	padding-right:19px;
}

.bg-1 { 
    padding-top: 70px;
    padding-bottom: 70px;
}

.social:hover {
	opacity: 0.4;
}

.badge-success {
  background-color: #468847;
}

#user {
	display: none;
}

#about {
	font-style: italic;
}

#about:hover {
	color: #732C7B;
}

.cssTable {
    display: table;
}
    
.cssTableHeader {
	display: table-header-group;
}
.cssTableBody {
     
    display: table-row-group;
}
.cssTableRow  {
    display: table-row;
}

.cssTableCell {
    border-bottom: .5px solid black;
	padding-top: 7px;
    padding-left: 7px;
    padding-right: 15px;
	padding-bottom: 7px;
    display: table-cell;
}