/* Style for contact Info table in about us */
.cssTable {
    display: table;
}
    
.cssTableHeader {
	display: table-header-group;
}
.cssTableBody {
     
    display: table-row-group;
}
.cssTableRow  {
    display: table-row;
}

.cssTableCell {
    border-bottom: .5px solid black;
	padding-top: 7px;
    padding-left: 7px;
    padding-right: 15px;
	padding-bottom: 7px;
    display: table-cell;
}
