body {
	position: relative;
}

ul.nav-pills {
	top: 70px;
	position: fixed;
	width: 20%;
}

#rating {
	margin: 10px;
	font-size: 1.1em;
	vertical-align: middle;
}

#rating a:hover {
	text-decoration: none;
}
 
.rating p {
	display: inline-block;
	margin-left: 5px;
}

.rating-class {
	font-weight: bold;
}

#form-review {
	padding: 15px;
	border: 1px solid lightgrey;
	border-radius: 25px;
	margin-bottom: 15px;
}

#form-review button {
	margin-left: 15px;
}

.btn-group {
	float: right;
}

.text-center.rating {
	clear: right;
}