#aboutMe-edit {
	color: white;
}

#profile-image {
	margin-bottom: 20px;
}

.left-icon {
	margin-right: 10px;
}

input[value="Cancel"] {
	margin-right: 15px;
}

textarea {
	margin-bottom: 10px;
}

#descriptionForm {
	padding: 15px;
}

.panel-heading {
	font-weight: bold;
}

.button-addcourse {
	margin-top: 15px;
}