/* Footer style*/
.navbar-fixed-bottom, .panel-footer {
	color: white;
	background-color: #222;
}

.panel-footer {
	height: 100%;
}
/* Footer social media icons*/
.social:hover {
	opacity: 0.4;
}

/* Hide user button */
#user {
	display: none;
}

ul#result_info { 
    list-style: none 
}

/*Basic style*/
body {
	padding-top: 53px;
}

main {
	min-height: 77vh;
	padding-top: 10px;
}

/* Background Image */
.jumbotron {
	/* http://www.slowgolde.com/www.slowgolde.com/wp-content/uploads/2014/02/CityLandscape.jpg */
    margin-bottom: 0px;
    background-image: url(../images/CityLandscape.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}
