<!DOCTYPE html>
<html lang="en">
<head>
	<title>Learnology - Admin</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/admincontroller.js"></script>
</head>
<body ng-app="learnologyApp" >
 <script src="scripts/facebooklogin.js"></script>
<div ng-controller="navCtrl"> 
  <div ng-include="'navbar.html'"></div>
</div> <br>

<div style="height:600px;" ng-controller="list">
  <nav class="col-sm-3">
    <ul class="nav nav-pills nav-stacked">
      <input type="hidden" ng-model="use">
      <li ng-class="{ 'active': use}"><a ng-click="getlist('Users')" >Users</a></li>
      <li ng-class="{ 'active': !use}"><a ng-click="getlist('Courses')">Courses</a></li>
    </ul>
    <br>
    <button class="btn btn-default" data-toggle="modal" data-target="#adminModal" type="set">Make Admin</button>
  </nav>
  <div class="col-sm-9">
    <div class="panel panel-primary " > 
      <div class="panel-heading">{{title}} List</div>
      <div class="panel-body">
        <form name="searchform" class="navbar-form" ng-submit="findItem()" method="GET">
          <div class="input-group">
             <input type="text" class="form-control" ng-model="searchID" placeholder="Search {{title}}" required>
             <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
             </span>
          </div>
          <button class="btn btn-default" type="reset" ng-click="getlist(title)">Reset Search</button>
          <label class="checkbox-inline" style="float:right;"><input type="checkbox" ng-model="confirmed" ng-change="getFlagged()">Flagged</label>
        </form>
        <ul class="list-group">
          <li class="list-group-item" ng-class="{'list-group-item-danger': {{x[3]}}}" ng-repeat="x in data">
            <a ng-href="{{link}}?id={{x[0]}}">{{x[1]}}</a>
            <button type="button" class="close" ng-hide="{{x[2]}}" data-toggle="modal" ng-click="delete($index)" data-target="#confirmModal">&times;</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <div class="modal fade" id="confirmModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            <p>Confirm Deletion Of ID: {{value}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="removeItem()">Confirm</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="adminModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">Set Admin Status</div>
          <div class="modal-body">
            <input type="text" class="form-control" ng-model="sname" placeholder="Screen Name" maxlength="50">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="setAdmin()">Confirm</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>



<div class="panel-footer" >
  <div class="container">
    <p class="navbar-text pull-left">© 2016 - Site Built By Us | <a href="aboutus">About Us</a> | 
      <a href="https://twitter.com"><img src="images/twitter.png" class="img-circle social" alt="Twitter" height="30" width="30"></a>
      <a href="https://facebook.com"><img src="images/facebook.png" class="img-circle social" alt="Facebook" height="30" width="30"></a>
      <a href="https://plus.google.com"><img src="images/google.png" class="img-circle social" alt="Google" height="30" width="30"></a>
    </p>
  </div>
</div>

</body>
</html>
