<!DOCTYPE html>
<html lang="en">
<head>
	<title>Learnology - Categories</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/categories.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="scripts/app.js"></script>
  <script> 
  app.controller("topCtrl", function($scope, $http) {
    $scope.changeList = function(type) {
      var req = { 
          method: 'POST',
          url: '/top',
          data: $.param({category : type}),
          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
        };
        $http(req).success(function(data) {
          $scope.topList = data;
      });
    };

    var req = { 
          method: 'POST',
          url: '/top',
          data: $.param({category : 'Academic'}),
          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
        };
        $http(req).success(function(data) {
          $scope.topList = data;
      });
  });

  $(document).ready(function(){
    $(".nav-pills>li").click(function(){
      $(".nav-pills>li").removeClass();
      $(this).addClass("active");
    });
  });
  </script>
</head>
<body ng-app="learnologyApp" >
<script src="scripts/facebooklogin.js"></script>
<div ng-controller="navCtrl"> 
  <div ng-include="'navbar.html'"></div>
</div>

<div class="jumbotron text-center">
  <h1>Categories</h1>
  <p>Select one of these categories and browse through the courses offered in that subject area</p>
  <a href="" ng-show="!show" ng-click="show = !show" class="btn btn-primary">Look At Top 10 Courses</a>
  <a href="" ng-show="show"  ng-click="show = !show" class="btn btn-primary">Look At Categories</a>
</div> <br>

<div ng-hide="show">
  <div class="container text-center">    
    <div class="row">
      <div class="col-sm-4">
      	<a class="thumbnail">
      		<img src="images/academic.png" class="img-rounded" alt="Academic" height="200" width="200">
          <a href="search?param=Category&terms=Academic" class="btn btn-blue">Academic Skills</a> 
      	</a>
      </div>
      <div class="col-sm-4"> 
      	<a class="thumbnail">
      		<img src="images/art.png" class="img-rounded" alt="Art" height="200" width="200">
      		<a href="search?param=Category&terms=Music+and+Arts" class="btn btn-blue">Music/Art Skills</a>
      	</a>
      </div>
      <div class="col-sm-4"> 
      	<a class="thumbnail">
      		<img src="images/cooking.png" class="img-rounded" alt="Cooking" height="200" width="200">
      		<a href="search?param=Category&terms=Cooking" class="btn btn-blue">Cooking Skills</a>
      	</a>
      </div>
    </div>
  </div><br>

  <div class="container text-center">    
    <div class="row">
      <div class="col-sm-4">
      	<a class="thumbnail">
      		<img src="images/home.png" class="img-rounded" alt="Home" height="200" width="200">
      		<a href="search?param=Category&terms=Home-Related" class="btn btn-blue">Home-Related Skills</a>
      	</a>
      </div>
      <div class="col-sm-4"> 
      	<a class="thumbnail">
      		<img src="images/office.png" class="img-rounded" alt="Office" height="200" width="200">
      		<a href="search?param=Category&terms=Office+Skills" class="btn btn-blue">Office/Document Skills</a>
      	</a>
      </div>
      <div class="col-sm-4"> 
      	<a class="thumbnail">
      		<img src="images/games.png" class="img-rounded" alt="Game" height="200" width="200">
      		<a href="search?param=Category&terms=Sports+and+Games" class="btn btn-blue">Sports/Gaming Skills</a>
      	</a>
      </div>
    </div>
  </div><br>

  <div class="container text-center">    
    <div class="row">
      <div class="col-sm-4">
      	<a class="thumbnail">
      		<img src="images/tech.png" class="img-rounded" alt="Technology" height="200" width="200">
      		<a href="search?param=Category&terms=Technology" class="btn btn-blue">Technological Skills</a>
      	</a>
      </div>
      <div class="col-sm-4"> 
      	<a class="thumbnail">
      		<img src="images/question.png" class="img-rounded" alt="Miscellaneous" height="200" width="200">
      		<a href="search?param=Category&terms=Miscellaneous" class="btn btn-blue">Miscellaneous</a>
      	</a>
      </div>
    </div>
  </div><br>
</div>

<div class="container-fluid" ng-show="show" ng-controller="topCtrl"> 
    <div class="panel panel-default">
        <div class="panel-body">
            <h1 align="center">Top 10 Courses</h1>
            <ul class="nav nav-pills">
               <li class="active" ng-click="changeList('Academic')"><a>Academic</a></li>
               <li ng-click="changeList('Music and Arts')"><a>Music/Art</a></li>
               <li ng-click="changeList('Cooking')"><a>Cooking</a></li>
               <li ng-click="changeList('Home-Related')"><a>Home-Related</a></li>
               <li ng-click="changeList('Office Skills')"><a>Office/Document</a></li>
               <li ng-click="changeList('Sports and Games')"><a>Sports/Gaming</a></li>
               <li ng-click="changeList('Technology')"><a>Technological</a></li>
               <li ng-click="changeList('Miscellaneous')"><a>Miscellaneous</a></li>
            </ul> <br>
            <div>
                <ul class="list-group col-sm-6 col-sm-offset-3">
                  <li class="list-group-item list-group-item-info">Courses<div class="pull-right">Rating Votes</div></li>
                  <li class="list-group-item" ng-repeat="x in topList"> {{ x.rank + ') '}}<a href="course?id={{x.id}}">{{x.title}}</a>
                    <span class="badge" data-toggle="tooltip" title="# of votes">{{x.votes}}</span>
                    <span class="badge  badge-success" data-toggle="tooltip" title="rating">{{x.rating}}</span>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel-footer" >
    <div class="container">
      <p class="navbar-text pull-left">© 2016 - Site Built By Us | <a href="aboutus">About Us</a> | 
        <a href="https://twitter.com"><img src="images/twitter.png" class="img-circle social" alt="Twitter" height="30" width="30"></a>
            <a href="https://facebook.com"><img src="images/facebook.png" class="img-circle social" alt="Facebook" height="30" width="30"></a>
            <a href="https://plus.google.com"><img src="images/google.png" class="img-circle social" alt="Google" height="30" width="30"></a>
      </p>
    </div>
</div>

</body>
</html>
