<!DOCTYPE html>
<html>
	<head>
		<title>Learnology - Course</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/course.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="scripts/app.js"></script>
		<script src="scripts/coursecontroller.js"></script>
	</head>
	<body data-spy="scroll" data-target="#courseScrollspy" data-offset="60" ng-app="learnologyApp">	
		<script src="scripts/facebooklogin.js"></script>
		<div course-content>
		<div ng-controller="navCtrl"> 
		  <div ng-include="'navbar.html'"></div>
		</div> 
		
		<main>
			<div get-user>
			<div class="container-fluid" ng-init="init()">
				<div class="row">
					<nav class="col-sm-3 col-xs-3" id="courseScrollspy">
						<ul class="nav nav-pills nav-stacked">
						    <li><a href="#general-info">General Information</a></li>
							<li><a href="#overview">Overview</a></li>
							<li><a href="#instructor">Instructor</a></li>
							<li><a href="#reviews">Reviews</a></li>
						</ul>
					</nav>
					<div class="col-sm-9 col-xs-9">
						<form action="{{'edit-course?id='+id}}" method="post">
							<input type="hidden" name="screen_name" value="{{screen_name}}">
						    <input type="submit" class="btn btn-default pull-right" value="Manage Course" ng-show="session == screen_name"/>
						</form>
						<button type="button" class="btn btn-primary pull-right" ng-hide="hideEnroll()" ng-disabled="disableEnroll()" data-toggle="modal" data-target="#enrollModal">{{enrollText}}</button>
						<form action="course/unflag" method="post">
							<input type="hidden" name="id" value="{{id}}">
						    <input type="submit" ng-show="hideUnflag()" class="btn btn-danger" value="Unflag Course"/>
						</form>
						
						<button type="report" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal" ng-hide="hideReport()">Report</button>
						<button type="delete" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" ng-show="session == screen_name">Delete</button>
						<h3 class="text-center">{{title}}</h3>
						<div class="text-center rating">
							<a href="#reviews">
								<div class="progress center-block" style="width:20%; margin-bottom: 0px;">
								  <div class="progress-bar" role="progressbar" aria-valuenow="{{overall*20}}" aria-valuemin="0" aria-valuemax="100" style="width:{{overall*20}}%">
								    {{overall}}/5 Stars
								  </div>
								</div>
								<p>({{votes}} reviews)</p>
							</a>
						</div>
						<div id="general-info" class="panel panel-default">
						    <div class="panel-heading">General Information</div>
						    <div class="panel-body">
								<div class="row">
									<div class="col-sm-12">
										<div class="row">
											<div class="col-sm-3">Category:</div>
											<div class="col-sm-9">{{category}}</div>
										</div>
										<div class="row">
											<div class="col-sm-3">Price:</div>
											<div class="col-sm-9">{{price}}</div>
										</div>
										<div class="row">
											<div class="col-sm-3">Type:</div>
											<div class="col-sm-9">{{location}}</div>
										</div>
										<div class="row">
											<div class="col-sm-3">Challenge Level:</div>
											<div class="col-sm-9">{{difficulty}}</div>
										</div>
										<div class="row">
											<div class="col-sm-3">Prerequisites:</div>
											<div class="col-sm-9">{{skills}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="overview" class="panel panel-default">
						    <div class="panel-heading">Overview</div>
						    <div class="panel-body">
								<div style="white-space: pre-wrap; width: 100%;">{{description}}</div>
							</div>
						</div>
						<div id="instructor" class="panel panel-default">
						    <div class="panel-heading">Instructor</div>
						    <div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<img id="profile-image" ng-src="images/profile/{{instructorImageName}}" 
											class="img-responsive img-rounded center-block" alt="profile image" width="170" height="170">
									</div>
									<div class="col-sm-8">
										<h4 class="">
											<a href="profile?screen-name={{screen_name}}">{{InstructorName}}</a>
											<small><br>{{instructorTitle}}</small>
										</h4>
										<div class="row">
											<div class="col-sm-2">Email:</div>
											<div class="col-sm-10"><a href="mailto:{{instructorEmail}}">{{instructorEmail}}</a></div>
										</div>
										<div class="row" ng-show="phone">
											<div class="col-sm-2">Phone:</div>
											<div class="col-sm-10">{{phone}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="reviews" class="panel panel-default">
						    <div class="panel-heading">Reviews</div>
						    <div class="panel-body" ng-controller="submitForm">
						    	<!-- <div get-user> -->
								<form id="form-review" class="form-horizontal" ng-submit='submit(id)' role="form" ng-hide="session==screen_name || session=='Guest'">
									<fieldset>
										<legend>Rate this course</legend>
										<div class="form-group">
											<label class="control-label col-sm-2" for="rating-stars">User:</label>
											<div class="col-sm-10">
												<input type="user" ng-model='session' disabled/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-2" for="rating-stars">Rating:</label>
											<div class="col-sm-10">
												<input type="number" ng-model='rate' name="rate" min="1" max="5" required>
												<p class="text-muted">Please enter an integer from 1 to 5.</p>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-2" for="comment">Comment:</label>
											<div class="col-sm-10">
												<textarea class="form-control" ng-model='comment' rows="4" id="comment" maxlength="200" required></textarea>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-12">
												<button type="submit" class="btn btn-primary pull-right">Submit</button>
												<button type="reset" onclick="reset()" class="btn btn-default pull-right">Cancel</button>
											</div>
										</div>
									</fieldset>	
								</form>
								<ul class="list-group">
								    <li class="list-group-item" ng-repeat="x in comments">
										<div class="row">
											<div class="col-sm-1">
												<a href="profile?screen-name={{x.user}}">{{x.user}}</a>
											</div>
											<div class="rating col-sm-11" ng-controller="rating">
												<span ng-class="{'glyphicon-star': checkRating(1, x.rating), 'glyphicon-star-empty': !checkRating(1, x.rating)}" class="glyphicon"></span>
												<span ng-class="{'glyphicon-star': checkRating(2, x.rating), 'glyphicon-star-empty': !checkRating(2, x.rating)}" class="glyphicon"></span>
												<span ng-class="{'glyphicon-star': checkRating(3, x.rating), 'glyphicon-star-empty': !checkRating(3, x.rating)}" class="glyphicon"></span>
												<span ng-class="{'glyphicon-star': checkRating(4, x.rating), 'glyphicon-star-empty': !checkRating(4, x.rating)}" class="glyphicon"></span>
												<span ng-class="{'glyphicon-star': checkRating(5, x.rating), 'glyphicon-star-empty': !checkRating(5, x.rating)}" class="glyphicon"></span>
												<p class="rating-class">{{heading(x.rating)}}</p>
												<button type="delete" ng-show="admin" ng-click="removeComment(x.user, id, x.rating, x.body)" class="btn btn-danger pull-right">Delete</button>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">{{x.body}}</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</main>

		<div class="modal fade" id="confirmModal">
		    <div class="modal-dialog modal-sm">
		      <div class="modal-content">
		        <div class="modal-body">
		          <p>Confirm Report Of {{title}}.</p>
		        </div>
		        <div class="modal-footer">
		        	<form action="course/flag" method="post">
						<input type="hidden" name="id" value="{{id}}">
					    <input type="submit" class="btn btn-primary pull-left" value="Confirm"/>
					</form>
		          	<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		    </div>
		</div>

		<div class="modal fade" id="deleteModal">
		    <div class="modal-dialog modal-sm">
		      <div class="modal-content">
		        <div class="modal-body">
		          <p>Confirm Deletion Of {{title}}.</p>
		        </div>
		        <div class="modal-footer">
		        	<form action="delete/course/user" method="post">
						<input type="hidden" name="id" value="{{id}}">
					    <input type="submit" class="btn btn-danger pull-left" value="Confirm"/>
					</form>
		          	<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		    </div>
		</div>
		
		<div id="enrollModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Enrollment Messages</h4>
					</div>
					<div class="modal-body">
						<form role="form">
							<div class="form-group">
								<label for="message" class="sr-only">Messages:</label>
								<textarea class="form-control" rows="5" id="message" ng-model="enrollmentMsg" 
									placeholder="Anything you want to say to the instructor?"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" ng-click="enroll()">Submit</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="panel-footer">
			<div class="container">
				<p class="navbar-text pull-left">© 2016 - Site Built By Us | <a href="aboutus">About Us</a> | 
					<a href="https://twitter.com"><img src="images/twitter.png" class="img-circle social" alt="Twitter" height="30" width="30"></a>
					<a href="https://facebook.com"><img src="images/facebook.png" class="img-circle social" alt="Facebook" height="30" width="30"></a>
					<a href="https://plus.google.com"><img src="images/google.png" class="img-circle social" alt="Google" height="30" width="30"></a>
				</p>
			</div>
		</div>
</div>
	</body>
</html>
