<!DOCTYPE html> 
<html>
   <head>
      <title>Learnology - Edit Course</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="scripts/app.js"></script>
      <link rel="stylesheet" href="css/style.css">
      <script src="scripts/editcontroller.js"></script>      
      <head>
	<body ng-app="learnologyApp">
		<script src="scripts/facebooklogin.js"></script>

		<div ng-controller="navCtrl"> 
			<div ng-include="'navbar.html'"></div>
		</div>
		
		<div course-content get-user>
			<div class="jumbotron text-center">
				<h1>Course Editing Page</h1>
				<p>Course ID: {{id}}</p>
			</div> <br>
			<div class="container-fluid" ng-init="init()">
				<div class="col-sm-6" ng-controller="save">
					<div class="panel panel-default">
						<div class="panel-heading">Course Information</div>
						<div class="panel-body">
							<form id="create" role="form" class="form-horizontal" ng-submit="save()" autocomplete=off>
								<fieldset>
									<div class="form-group">
										<label class="control-label col-sm-3" for="first-name">Course Title</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" ng-model="title" maxlength="50" required>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3" for="location">Location</label>
										<div class="col-sm-8">
											<div class="row">
												<div class="col-sm-9">
													<input type="text" class="form-control" ng-model="location" ng-disabled="disable" maxlength="50" required>
												</div>
												<div class="col-sm-3">
													<label class="checkbox-inline"><input type="checkbox" ng-model="disable">Online</label>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3">Course Category:</label>
										<div class="col-sm-8">
											<div class="row">
												<div class="radio col-sm-4">
													<label class="radio">
														<input type="radio" value="Academic" name="category" ng-model="category" checked="checked">Academic
													</label>
													<label class="radio">
														<input type="radio" value="Music and Arts" name="category" ng-model="category" >Music and Arts
													</label>
													<label class="radio">
														<input type="radio" value="Office Skills" name="category" ng-model="category" >Office Skills
													</label>
												</div>
												<div class="radio col-sm-4">
													<label class="radio">
														<input type="radio" value="Cooking" name="category" ng-model="category" >Cooking
													</label>
													<label class="radio">
														<input type="radio" value="Home-Related" name="category" ng-model="category" >Home-Related
													</label>
													<label class="radio">
														<input type="radio" value="Sports and Games " name="category" ng-model="category">Sports and Games 
													</label>
												</div>
												<div class="radio col-sm-4">
													<label class="radio">
														<input type="radio" value="Technology" name="category" ng-model="category" >Technology
													</label>
													<label class="radio">
														<input type="radio" value="Miscellaneous" name="category" ng-model="category" >Miscellaneous (Other)
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3" for="price">Price:</label>
										<div class="col-sm-5">
											<input type="price" class="form-control" ng-model="price" maxlength="50" required>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3" for="description">Course Description:</label>
										<div class="col-sm-8">
											<textarea name="description" rows="8" class="form-control" ng-model="description" required></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3" for="skills">Previous Skills Required:</label>
										<div class="col-sm-8">
											<textarea name="skills" rows="4" class="form-control" ng-model="skills" required></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3">Challenge Level:</label>
										<div class="col-sm-8">
											<label class="radio-inline">
												<input type="radio" value="Beginner" name="level" ng-model="level" checked="checked">Beginner
											</label>
											<label class="radio-inline">
												<input type="radio" value="Intermediate" ng-model="level" name="level">Intermediate
											</label>
											<label class="radio-inline">
												<input type="radio" value="Advanced" ng-model="level" name="level">Advanced
											</label>
										</div>
									</div>
									<div class="col-sm-offset-4 col-sm-8">
										<a type="button" class="btn btn-default" href="course?id={{id}}">Cancel</a>
										<button type="submit" class="btn btn-primary">Submit Changes</button>
									</div> 
								</fieldset>
							</form>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">Students</div>
						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item" ng-repeat="appliedStudent in students.in_application">
									<div class="row">
										<div class="col-sm-2">
											<img id="profile-image" src="images/profile/{{appliedStudent.image_name}}" 
											class="img-responsive img-rounded center-block" alt="applied student's profile image">
										</div>
										<div class="col-sm-10">
											<div class="row">
												<div class="col-sm-8">
													<h4>
														<a ng-href="/profile?screen-name={{appliedStudent.screen_name}}">{{appliedStudent.screen_name}}</a>
														<small> - <a ng-href="mailto:{{appliedStudent.contact_email}}">{{appliedStudent.contact_email}}</a></small>
													</h4>
												</div>
												<div class="col-sm-4">
													{{appliedStudent.date | date:'short'}}
												</div>
											</div>
											<div class="row">
												<div class="col-sm-8">{{appliedStudent.message}}</div>
												<div class="col-sm-4">
													<button type="button" class="btn btn-sm btn-danger" ng-click="toggleRejectModal(appliedStudent)">Reject</button>
													<button type="button" class="btn btn-sm btn-success" 
														ng-click="enrollStudent(appliedStudent.screen_name, appliedStudent.contact_email)">Accept</button>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<ul class="list-group">
								<li class="list-group-item hasFocus" ng-repeat="enrolledStudent in students.enrolled" list-item-focus>
									<div class="row">
										<div class="col-sm-4">
											<a ng-href="/profile?screen-name={{enrolledStudent.screen_name}}">
												{{enrolledStudent.screen_name}}
											</a>
										</div>
										<div class="col-sm-5">
											<a ng-href="mailto:{{enrolledStudent.contact_email}}">
												{{enrolledStudent.contact_email}}
											</a>
										</div>
										<div class="col-sm-3">
											<div class="row">
												<a href="#" ng-click="toggleFinishModal(enrolledStudent)">
													<span class="small" style="visibility: hidden;">Finished Course</span>
													<span class="glyphicon glyphicon-remove-circle"></span>
												</a>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><br>
		</div>
		
		<div id="rejectModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" ng-click="cancelSelect()">&times;</button>
						<h4 class="modal-title">Warning</h4>
					</div>
					<div class="modal-body">
						Are you sure that you want to reject student <strong>{{selectedStudent.screen_name}}</strong>?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="cancelSelect()">No</button>
						<button type="button" class="btn btn-default" ng-click="rejectStudent()">Yes</button>
					</div>
				</div>
			</div>
		</div>
		
		<div id="finishModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" ng-click="cancelSelect()">&times;</button>
						<h4 class="modal-title">Warning</h4>
					</div>
					<div class="modal-body">
						Are you sure that you want to remove student <strong>{{selectedStudent.screen_name}}</strong> for finishing the course?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="cancelSelect()">No</button>
						<button type="button" class="btn btn-default" ng-click="finishStudent()">Yes</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="panel-footer">
			<div class="container">
				<p class="navbar-text pull-left">© 2016 - Site Built By Us | <a href="aboutus">About Us</a> | 
				<a href="https://twitter.com"><img src="images/twitter.png" class="img-circle social" alt="Twitter" height="30" width="30"></a>
				<a href="https://facebook.com"><img src="images/facebook.png" class="img-circle social" alt="Facebook" height="30" width="30"></a>
				<a href="https://plus.google.com"><img src="images/google.png" class="img-circle social" alt="Google" height="30" width="30"></a>
				</p>
			</div>
		</div>
	</body>
</html>
