<!DOCTYPE html>
<html>
	<head>
		<title>Learnology - Edit Profile</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/edit-profile.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="scripts/app.js"></script>
		<script src="scripts/edit-profile.js"></script>
		<script src="scripts/navbar.js"></script>
	</head>
	<body ng-app="learnologyApp">
		<div ng-controller="navCtrl"> 
			<div ng-include="'navbar.html'"></div>
		</div>
		<main>
			<div class="container-fluid" ng-controller="editProfileCtrl" ng-init="init()">
				<form class="form-horizontal" name="editProfileForm" role="form" action="{{'users/user/'+originalScreenName}}" method="POST">
					<fieldset class="col-sm-6">
						<legend>Personal Information</legend>
						<div class="form-group" hidden>
							<label class="control-label col-sm-3" for="screen-name">Original Screen Name:</label>
							<div class="col-sm-8">
								<input type="text" name="originalScreenName" class="form-control" ng-model="originalScreenName" id="original-screen-name" readonly required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="screen-name">Screen Name:</label>
							<div class="col-sm-8">
								<input type="text" name="screenName" class="form-control" ng-model="screenName" id="screen-name" ng-change="screenNameValidation()" ng-model-options="{updateOn: 'blur'}" required>
								<div ng-show="screenNameInvalid" ng-init="screenNameInvalid = false">* Screen name cannot contain any space.</div>
								<div ng-show="screenNameFound" ng-init="screenNameFound = false">* Screen name has been registered.</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="first-name">First Name:</label>
							<div class="col-sm-8">
								<input type="text" name="firstName" class="form-control" ng-model="firstName" id="first-name">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="last-name">Last Name:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="lastName" id="last-name" ng-model="lastName">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="title">Title:</label>
							<div class="col-sm-8" data-toggle="tooltip" title="Title used for instructor">
								<input type="text" class="form-control" name="title" id="title" ng-model="title" placeholder="Master Lecturer">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Gender:</label>
							<div class="col-sm-8">
								<label class="radio-inline">
									<input type="radio" value="male" name="gender" ng-model="gender">Male
								</label>
								<label class="radio-inline">
									<input type="radio" value="female" name="gender" ng-model="gender">Female
								</label>
								<label class="radio-inline">
									<input type="radio" value="others" name="gender" ng-model="gender">Others
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="birth-date">Date of Birth:</label>
							<div class="col-sm-8">
								<input type="date" name="dateOfBirth" class="form-control" id="birth-date" ng-model="dateOfBirth">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="email">Email:</label>
							<div class="col-sm-8">
								<input type="email" name="email" ng-model-options="{updateOn: 'blur'}" ng-change="emailExists()" class="form-control" id="email" ng-model="email" required>
								<div ng-show="isInvalid" ng-init="isInvalid = false">* Email has been registered.</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="contactEmail">Contact Email:</label>
							<div class="col-sm-8" data-toggle="tooltip" title="Used as contact info to public">
								<input type="email" name="contactEmail" class="form-control" id="contactEmail" ng-model="contactEmail" required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="phone">Phone:</label>
							<div class="col-sm-8">
								<div class="row">
									<div class="col-sm-7">
										<input type="tel" class="form-control" name="phone" id="phone" ng-model="phone" ng-change="checkPhone()" pattern="\d{3}-\d{3}-\d{4}" placeholder="555-555-5555">
									</div>
									<div class="col-sm-5">
										<div class="checkbox">
											<label><input type="checkbox" name="isPublic" ng-model="isPublic" ng-disabled="phone==''" ng-checked="isPublic">Show to public</label>
										</div>
									</div>
								</div>
								<div>* Phone number format: xxx-xxx-xxxx.</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="address">Address:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="address" id="address" ng-model="address">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="city">City:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="city" id="city" ng-model="city">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="province">Province/State:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="province" id="province" ng-model="province">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="country">Country:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="country" id="country" ng-model="country">
							</div>
						</div>
						<div class="col-sm-offset-7 col-sm-5" id="buttons">
							<button type="button" class="btn btn-default" ng-click="backToProfile()">Cancel</button>
							<button type="submit" class="btn btn-primary" ng-disabled="isInvalid || screenNameInvalid || screenNameFound">Save</button>
						</div>
					</fieldset>
				</form>
				<form class="form-horizontal" role="form">
					<fieldset class="col-sm-6">
						<legend>Profile Photo</legend>
						<div class="form-group">
							<img id="profile-photo" ng-src="images/profile/{{profileImgName}}"
								class="img-responsive img-rounded center-block" alt="profile photo" width="200" height="200">
							<span>{{profileImgSrc}}</span>
							<div class="col-sm-offset-2 col-sm-8">
								<label class="control-label" for="photo-input">Upload Profile Photo:</label>
								<input type="file" class="form-control" name="file" onchange="angular.element(this).scope().uploadFile(this.files)">
								<span ng-show="uploaded" ng-init="uploaded = false">{{uploadMsg}}</span>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</main>
		<div class="panel-footer">
			<div class="container">
				<p class="navbar-text pull-left">© 2016 - Site Built By Us | <a href="aboutus">About Us</a> | 
					<a href="https://twitter.com"><img src="images/twitter.png" class="img-circle social" alt="Twitter" height="30" width="30"></a>
					<a href="https://facebook.com"><img src="images/facebook.png" class="img-circle social" alt="Facebook" height="30" width="30"></a>
					<a href="https://plus.google.com"><img src="images/google.png" class="img-circle social" alt="Google" height="30" width="30"></a>
				</p>
			</div>
		</div>
	</body>
</html>
