<div user-login></div>
<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" style="color:white;"><span class="glyphicon glyphicon-education"></span> Learnology</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('/')}"><a href="/">Home</a></li>
            <li ng-class="{ active: isActive('/categories')}"><a href="categories">Categories</a></li>
            <li ng-class="{ active: isActive('/coursecreation')}" class="user" style="display:none"><a href="coursecreation">Create a Course</a></li>
         </ul>
         <ul class="nav navbar-nav">
            <div class="col-sm-12 col-md-12">
               <form name="searchform" class="navbar-form" action="search" method="GET">
                  <div class="input-group">
                     <div class="input-group-btn search-panel" ng-controller="searchCtrl">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_by">Search by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                           <li ng-click="changeParam('Keywords')"><a>Keywords</a></li>
                           <li ng-click="changeParam('Teacher Name')"><a>Teacher Name</a></li>
                           <li ng-click="changeParam('Tag')"><a>Tag</a></li>
                        </ul>
                     </div>
                     <input type="hidden" name="param" value="Keywords" id="param">
                     <input type="text" class="form-control" name="terms" placeholder="Search" required>
                     <span class="input-group-btn">
                        <button id="submit" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                     </span>
                  </div>
               </form>
            </div>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li class="user"><a id="admin">ADMIN</a></li>
            <li class="user" style="display:none"><a href="profile" id="screenName"></a></li>
            <li><a id="login" data-toggle="modal" data-target="#loginModal" class="guest"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a id="signup" data-toggle="modal" data-target="#signupModal" class="guest"><span class="glyphicon glyphicon-edit"></span> Sign Up</a></li>
            <li><a id="signout" data-toggle="modal" data-target="#logoutModal" class="user" style="display:none"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
         </ul>
      </div>
   </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="loginModal" role="dialog">
   <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Please sign in</h4>
      </div>
      <div class="modal-body text-center" ng-controller="login">
         <form class="form-signin" ng-submit="sendPost()">
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="username" ng-model="username" id="inputUsername" class="form-control" placeholder="Username" required>
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" ng-model="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <br>
            <button id="submit" class="btn btn-lg btn-primary" type="submit">Sign in</button>
         </form>
         <br>
         <hr>
         <div>Or Sign In With</div>
         
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div>

   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="signupModal" role="dialog" >
   <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sign Up</h4>
         </div>
         <div class="modal-body" ng-controller="signUpFormCtrl">
            <form role="form" class="form-signin" name="signupForm" action="/users/user" method="POST">
				<div class="form-group">
					<label for="inputEmailSU" class="sr-only">Email</label>
					<input type="email" name="email" class="form-control" id="inputEmailSU" ng-model="email" placeholder="Email Address" ng-model-options="{updateOn: 'blur'}" ng-change="emailExists()" required>
					<span ng-show="signupForm.email.$error.email">* Invalid email address.</span>
					<span ng-show="isInvalid" ng-init="isInvalid = false">* Email has been registered.</span>
				</div>
				<div class="form-group">
					<label for="inputPasswordSU" class="sr-only">Password</label>
					<input type="password" ng-model="password" ng-model-options="{updateOn: 'blur'}" name="password" class="form-control" id="inputPasswordSU" placeholder="Password" ng-change="confirmPassword()" required>
				</div>
				<div class="form-group">
					<label for="inputPasswordSU" class="sr-only">Re-enter Password</label>
					<input type="password" ng-model="reEnterPassword" name="reEnterPassword" class="form-control" id="inputPasswordSU" placeholder="Re-enter Password" ng-change="confirmPassword()" required>
					<span ng-show="passwordNotMatch" ng-init="passwordNotMatch = false">* Re-entered password does not match.</span>
				</div>
				<div class="form-group">
					<label for="inputUsernameSU" class="sr-only">Screen Name</label>
					<input name="screenName" ng-model="screenName" class="form-control" ng-change="screenNameValidation()" ng-model-options="{updateOn: 'blur'}" id="inputScreenNameSU" placeholder="Screen Name">
					<span ng-show="screenNameInvalid" ng-init="screenNameInvalid = false">* Screen name cannot contain any space.</span>
					<span ng-show="screenNameFound" ng-init="screenNameFound = false">* Screen name has been registered.</span>
				</div>
				<div class="form-group text-center">
					<button id="submitSU" class="btn btn-lg btn-primary" type="submit" ng-disabled="!signupForm.$valid || isInvalid || screenNameInvalid || screenNameFound || passwordNotMatch">Sign Up</button>
				</div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>

   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="logoutModal" role="dialog">
   <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Logout</h4>
         </div>
         <div class="modal-body text-center">
            <div> Are you sure you want logout?</div> <br>
            <form action="logout" method="GET">
               <button class="btn btn-lg btn-primary" type="submit">Logout</button>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>

   </div>
</div>
